* {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: arial;
    color: black;
}

header {
    height: 100px;
    background-color: #8D98A7;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 40px;
}

main {
    background-color: #646E78;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: calc(100vh - 150px);
}

.card {
    height: calc(50% - 5px);
    width: calc(50% - 5PX);
    border-radius: 10PX;
    border: none;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.card h2 {
    font-size: 50px;
}

.card:hover .text {
    animation: cardexp .5s forwards;
}
.card:not(:hover) .text{
    animation: cardexpinv .5s ease-out;
}
.text {
    background-color: #a7764d91;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: ease-in-out 1s;
    width: 100px;
    height: 20px;
}

footer {
    height: 30px;
    background-color: #8D98A7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

@keyframes cardexp {
    0% {
        width: 100px;
        height: 20px;
    }

    100% {
        height: calc(100% - 20px);
        width: 100%;
        background-color: #DCCCBB;
    }
}
@keyframes cardexpinv {
    0% {
        height: calc(100% - 20px);
        width: 100%;
        background-color: #DCCCBB;
    }
    100% {
        width: 100px;
        height: 20px;
    }
}

body{
    max-width: 100dvw;
}
.tipe1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 50px;
    font-size: 20px;
    font-family: arial;
    text-align: justify;
}
.tipe1 img{
    min-height: 300px;
    min-width: 300px;
    object-fit: cover;
    object-position: center;
}

.tipe2{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-family: arial;
    text-align: justify;
}
.tipe3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    object-fit: cover;
    width: 100%;
    object-position: center;
}